body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

div {
    background-color: #E8E8E8;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: red;
}